<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Todo-Ninja</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href='/login'>Sign In</a>
    <a class="p-2 text-dark" href='/home'>Home</a>
  </nav>
  <a class="btn btn-outline-primary" href='/signup'>Sign up</a>
</div>
<div class="container" style="margin-top: 40px;">
  <h1 style="margin-bottom: 20px;">Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="form-group">
      <input type="email" class="form-control" #UserName ngModel name="UserName" placeholder="Username" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" #Password ngModel name="Password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <button [disabled]="!loginForm.valid" class="btn btn-success" type="submit">Login</button>
    </div>
  </form>
</div>