<form #noteForm="ngForm" novalidate>
  <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="New note" aria-describedby="basic-addon2" [(ngModel)]="noteModel.Title" required minlength="2" name="note" #name="ngModel" placeholder="New note">
      <div class="input-group-append">
        <button [disabled]="!name.valid" class="btn btn-outline-secondary" type="button" (click)="onSubmitNote()">Add Note</button>
      </div>
    </div>

<div class="card-columns">
  <div class="card" *ngFor="let note of notes">
    <app-note [note]="note"></app-note>
    <div class="text-center"><button type="button" id="noteButtonDelete" (click)="onDeleteNote(note.Id)" class="btn btn-outline-light">✖</button></div>
  </div>
</div>

