<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Todo-Ninja</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href='/login'>Sign In</a>
    <a class="p-2 text-dark" href='/home'>Home</a>
  </nav>
  <a class="btn btn-outline-primary" href='/signup'>Sign up</a>
</div>
<div class="container" style="margin-top: 40px;">
  <h1 style="margin-bottom: 20px;">Sign-Up</h1>
  <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(account)">
    <div class="form-group">
      <input class="form-control" type="text" name="Email" #Email="ngModel" [(ngModel)]="account.Email" [pattern]="emailPattern"
        placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="Password" #Password="ngModel" [(ngModel)]="account.Password"
        required minlength="3" placeholder="Password">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="account.FirstName"
        placeholder="First Name">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="LastName" #LastName="ngModel" [(ngModel)]="account.LastName"
        placeholder="Last Name">
    </div>
    <div class="form-group">
      <button [disabled]="!userRegistrationForm.valid" class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>