<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Todo-Ninja</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href='/home'>Home</a>
  </nav>
  <a class="btn btn-outline-danger" (click)="Logout()">Logout</a>
</div>
<div class="container">

  <app-note-list></app-note-list>
</div>