<div class="card-body">
  <h5 class="card-title">{{note.Title}}</h5>
</div>

<div class="list-group list-group-flush list-group-item-action">
  <button *ngFor="let task of tasks" class="list-group-item list-group-item-action" (click)="onDeleteTask(task.Id)">
    {{task.Description}}
  </button>
</div>

<div class="card-body">
  <div class="input-group mb-3">
    <input type="text" class="form-control" aria-label="Subtask" aria-describedby="basic-addon2" [(ngModel)]="taskModel.Description" required minlength="2" name="task" #name="ngModel">
    <div class="input-group-append">
      <button [disabled]="!name.valid" class="btn btn-outline-secondary" type="button" (click)="onSubmitTask(taskModel.Description)">New Task</button>
    </div>
  </div>
</div>

<div class="card-footer">
  <small class="text-muted">{{note.CreatedAt}}</small>
</div>